html, body, canvas {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: hidden; /* Hide vertical scrollbar */
}

label, .eraser, #eraser, .brush_grid, .colour_grid, .shape_grid {
	cursor: pointer;
}

.screen {
	display: flex;
	flex-direction: row;
}

.drawing_canvas {
	width: 85%;
	height: 100vh;
}

.menu {
	border: 1px solid black;
	width: 15%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.text, .save_option {
	color: white;
	font-size: 20px;
}

.brush_grid {
	display: grid;
	border: 1px solid white;
}

.brush_option {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brush_circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: gray;
}

.colour_grid, .shape_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 1px solid white;
}

.colour_option, .shape_option {
	width: 80px;
	height: 40px;
}

.shape_option {
	color: white;
	text-align: center;
}

.save_drawing {
	display: flex;
	justify-content: center;
	align-items: center;
}

.save_grid {
	display: grid;
	max-width: 95%;
	grid-template-columns: 1fr 1fr;
	border: 1px solid white;
	cursor: pointer;
}

.save_option, #import {
	padding: 20px;
}

input.save_option {
	font-size: 15px;
}

.selected {
	border: 5px green;
	color: rgb(100,255,100);
}

#import {
	display: none;
	padding: 0;
	max-width: 60px;
}

.import_container:hover .import_text {
	display: none;
}
.import_container:hover #import {
	display: block;
}

.colour_option, .shape_option, .save_option, .brush_option, .brush_circle, .text {
	transition: color 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.colour_option:hover, .shape_option:hover, .save_option:hover, .brush_option:hover, .text:hover {
	color: #66ccff;
}

.pen_icon {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: none;
}
.selected .pen_icon {
	display: block;
	color: white;
}